/**
 * Admin bar
 */
$height__admin-bar: 46px;
$height__admin-bar--narrow: 32px;
$width__admin-bar--sticky: 37.5em;
$width__admin-bar--narrow: 48.875em;

/**
 * Device width
 */
$width__mobile: 30em; // screen equal or smaller then
$width__desktop: 64em;  // screen equal or larger then
