/**
 *
 * BASE
 *
 * Base rules are the defaults. They are almost exclusively single element selectors but it could include
 * attribute selectors, pseudo-class selectors, child selectors or sib- ling selectors.
 * Essentially, a base style says that wherever this element is on the page, it should look likethis.
 * CSS Resets to define a consistent founda-tion across browsers to build the site on.
 *
 */


ul
ol
table
p
	margin 0 0 1.25em

ul
ol
	li
		margin 0 0 .3125em

ul
	list-style disc

ol
	list-style numeric

nav

	ul
		list-style none
		margin 0

	li
		margin 0


/**
 *
 * Helper
 *
 */
.aligncenter
	display block
	margin 0 auto 25px
	text-align center

.alignleft
	float left
	margin 0 25px 25px 0

.alignright
	float right
	margin 0 0 25px 25px

.clear
	clear both

.clearleft
	clear left

.clearright
	clear right

.container
	margin-left auto
	margin-right auto
	padding 0 10px
	width 980px
