/**
 *
 * LAYOUT
 *
 * Layout divide the page into sections. Layouts hold one or more modules together.
 * Try to use id provide efficient hooks for JavaScript
 * Use class selectors can make styling more complicated due to increasing specificity
 *
 */
