/**
 *
 * MODULES
 *
 * Module reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on.
 * Avoid element selectors except the element selectors will and can be predictable
 * Better understand where context changes are likely to occur
 * Use subclassing Modules to let module more reuseable
 *
 */
