/**
 *
 * STATE
 *
 * State are ways to describe how our modules or layouts will look when in a particular state.
 * Is it hidden or expanded? Is it active or inactive?
 * They are about describing how a module or layout looks on screens that are smaller or bigger.
 * They are also about describing how a module might look in different views like the home page or the inside page.
 * apply to layout and/or module styles
 * State styles indicate a JavaScript dependency
 * States should be made to stand alone and are usually built of a single class selector.
 * Sometimes need to use !important
 * Combining State Rules with Modules
 *
 */
