/**
 * <body>
 */
body {
    background-color: var(--wp--prest--color--white);
    color: var(--wp--prest--color--black);
    display: flex;
    flex-direction: column;
    font-family: var(--wp--prest--font-family--copy);
    font-size: 1em;
    line-height: calc(1ex / .32);
    min-height: 100vh;
    overflow-x: hidden;
}

.admin-bar {
    --adminbar__height: 46px;
    min-height: calc(100vh - var(--adminbar__height));

    @media (--adminbar--full) {
        --adminbar__height: 32px;
        min-height: calc(100vh - var(--adminbar__height));
    }
}
