/**
 *
 * Nav main
 *
 * @since 2.0.0
 */

/*
.nav-main

	> ul

		> li

			> a

				&:hover

			> ul

				> li

					> a

						&:hover

				> .current-menu-item
				> .current-menu-ancestor

					> a

		> .current-menu-item
		> .current-menu-ancestor

			> a
*/
