/**
 * Header navigation
 *
 * nav
 * - ul
 * -- li
 * --- a
 * --- ul
 * ---- …
 */
.main-navigation {

    @media (--mobile-nav) {
        /* LVL 1 */
        > ul {
            display: inline-flex;

            > li {
                position: relative;

                /* Hover LVL 1 */
                &:hover {

                    > a {
                    }
                }

                > a {
                }

                /* LVL 2 */
                &:hover {

                    > ul {
                        height: auto;
                        opacity: 1;
                        overflow: visible;
                    }
                }

                > ul {
                    height: 0;
                    left: 0;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    top: 100%;
                    width: 240px;

                    > li {
                        position: relative;

                        /* Hover LVL 2 */
                        &:hover {

                            > a {
                            }
                        }

                        > a {
                            display: block;
                        }
                    }

                    /* Highlight LVL 2 */
                    > .current-menu-ancestor,
                    > .current-menu-item {

                        > a {
                        }
                    }
                }
            }

            /* Highlight LVL 1 */
            > .current-menu-ancestor,
            > .current-menu-item {

                > a {
                }
            }
        }
    }
}
