dashicons( icon )

	&:before
		display inline-block
		font-size: 1rem
		font-family "dashicons"
		text-decoration inherit
		font-weight normal
		font-style normal
		line-height 1
		text-align center
		transition color .1s ease-in 0

		if icon == "menu"
			content "\f333"

		if icon == "admin-site"
			content "\f319"

		if icon == "dashboard"
			content "\f226"

		if icon == "admin-media"
			content "\f104"

		if icon == "admin-page"
			content "\f105"

		if icon == "admin-comments"
			content "\f101"

		if icon == "admin-appearance"
			content "\f100"

		if icon == "admin-plugins"
			content "\f106"

		if icon == "admin-users"
			content "\f110"

		if icon == "admin-tools"
			content "\f107"

		if icon == "admin-settings"
			content "\f108"

		if icon == "admin-network"
			content "\f112"

		if icon == "admin-generic"
			content "\f111"

		if icon == "admin-home"
			content "\f102"

		if icon == "admin-collapse"
			content "\f148"
		if icon == "admin-link"
			content "\f10"

		if icon == "format-link"
			content "\f10"

		if icon == "admin-pos"
			content "\f10"

		if icon == "format-standar"
			content "\f10"

		if icon == "format-image"
			content "\f128"

		if icon == "format-gallery"
			content "\f161"

		if icon == "format-audio"
			content "\f127"

		if icon == "format-video"
			content "\f126"

		if icon == "format-chat"
			content "\f125"

		if icon == "format-status"
			content "\f130"

		if icon == "format-aside"
			content "\f123"

		if icon == "format-quote"
			content "\f122"

		if icon == "welcome-write-blo"
			content "\f11"

		if icon == "welcome-edit-pag"
			content "\f11"

		if icon == "welcome-add-page"
			content "\f133"

		if icon == "welcome-view-site"
			content "\f115"

		if icon == "welcome-widgets-menus"
			content "\f116"

		if icon == "welcome-comments"
			content "\f117"

		if icon == "welcome-learn-more"
			content "\f118"

		if icon == "image-crop"
			content "\f165"

		if icon == "image-rotate-left"
			content "\f166"

		if icon == "image-rotate-right"
			content "\f167"

		if icon == "image-flip-vertical"
			content "\f168"

		if icon == "image-flip-horizontal"
			content "\f169"

		if icon == "undo"
			content "\f171"

		if icon == "redo"
			content "\f172"
		if icon == "editor-bold"
			content "\f200"

		if icon == "editor-italic"
			content "\f201"

		if icon == "editor-ul"
			content "\f203"

		if icon == "editor-ol"
			content "\f204"

		if icon == "editor-quote"
			content "\f205"

		if icon == "editor-alignleft"
			content "\f206"

		if icon == "editor-aligncenter"
			content "\f207"

		if icon == "editor-alignright"
			content "\f208"

		if icon == "editor-insertmore"
			content "\f209"

		if icon == "editor-spellcheck"
			content "\f210"

		if icon == "editor-distractionfre"
			content "\f21"

		if icon == "editor-expan"
			content "\f21"

		if icon == "editor-contract"
			content "\f506"

		if icon == "editor-kitchensink"
			content "\f212"

		if icon == "editor-underline"
			content "\f213"

		if icon == "editor-justify"
			content "\f214"

		if icon == "editor-textcolor"
			content "\f215"

		if icon == "editor-paste-word"
			content "\f216"

		if icon == "editor-paste-text"
			content "\f217"

		if icon == "editor-removeformatting"
			content "\f218"

		if icon == "editor-video"
			content "\f219"

		if icon == "editor-customchar"
			content "\f220"

		if icon == "editor-outdent"
			content "\f221"

		if icon == "editor-indent"
			content "\f222"

		if icon == "editor-help"
			content "\f223"

		if icon == "editor-strikethrough"
			content "\f224"

		if icon == "editor-unlink"
			content "\f225"

		if icon == "editor-rtl"
			content "\f320"

		if icon == "editor-break"
			content "\f474"

		if icon == "editor-code"
			content "\f475"

		if icon == "editor-paragraph"
			content "\f476"
		if icon == "align-left"
			content "\f135"

		if icon == "align-right"
			content "\f136"

		if icon == "align-center"
			content "\f134"

		if icon == "align-none"
			content "\f138"

		if icon == "lock"
			content "\f160"

		if icon == "calendar"
			content "\f145"

		if icon == "calendar-alt"
			content "\f508"

		if icon == "visibility"
			content "\f177"

		if icon == "post-status"
			content "\f173"

		if icon == "edit"
			content "\f464"

		if icon == "post-tras"
			content "\f182"

		if icon == "tras"
			content "\f182"

		if icon == "external"
			content "\f504"

		if icon == "arrow-up"
			content "\f142"

		if icon == "arrow-down"
			content "\f140"

		if icon == "arrow-left"
			content "\f141"

		if icon == "arrow-right"
			content "\f139"

		if icon == "arrow-up-alt"
			content "\f342"

		if icon == "arrow-down-alt"
			content "\f346"

		if icon == "arrow-left-alt"
			content "\f340"

		if icon == "arrow-right-alt"
			content "\f344"

		if icon == "arrow-up-alt2"
			content "\f343"

		if icon == "arrow-down-alt2"
			content "\f347"

		if icon == "arrow-left-alt2"
			content "\f341"

		if icon == "arrow-right-alt2"
			content "\f345"

		if icon == "leftright"
			content "\f229"

		if icon == "sort"
			content "\f156"

		if icon == "randomize"
			content "\f503"

		if icon == "list-view"
			content "\f163"

		if icon == "exerpt-view"
			content "\f164"

		if icon == "grid-view"
			content "\f509"

		if icon == "hammer"
			content "\f308"

		if icon == "art"
			content "\f309"

		if icon == "migrate"
			content "\f310"

		if icon == "performance"
			content "\f311"

		if icon == "universal-access"
			content "\f483"

		if icon == "universal-access-alt"
			content "\f507"

		if icon == "tickets"
			content "\f486"

		if icon == "nametag"
			content "\f484"

		if icon == "clipboard"
			content "\f481"

		if icon == "heart"
			content "\f487"

		if icon == "megaphone"
			content "\f488"

		if icon == "schedule"
			content "\f489"

		if icon == "wordpress"
			content "\f120"

		if icon == "wordpress-alt"
			content "\f324"

		if icon == "pressthis"
			content "\f157"

		if icon == "update"
			content "\f463"

		if icon == "screenoptions"
			content "\f180"

		if icon == "info"
			content "\f348"

		if icon == "cart"
			content "\f174"

		if icon == "feedback"
			content "\f175"

		if icon == "cloud"
			content "\f176"

		if icon == "translation"
			content "\f326"

		if icon == "tag"
			content "\f323"

		if icon == "category"
			content "\f318"

		if icon == "archive"
			content "\f480"

		if icon == "tagcloud"
			content "\f479"

		if icon == "text"
			content "\f478"

		if icon == "media-archive"
			content "\f501"

		if icon == "media-audio"
			content "\f500"

		if icon == "media-code"
			content "\f499"

		if icon == "media-default"
			content "\f498"

		if icon == "media-document"
			content "\f497"

		if icon == "media-interactive"
			content "\f496"

		if icon == "media-spreadsheet"
			content "\f495"

		if icon == "media-text"
			content "\f491"

		if icon == "media-video"
			content "\f490"

		if icon == "playlist-audio"
			content "\f492"

		if icon == "playlist-video"
			content "\f493"

		if icon == "controls-play"
			content "\f522"

		if icon == "controls-pause"
			content "\f523"

		if icon == "controls-forward"
			content "\f519"

		if icon == "controls-skipforward"
			content "\f517"

		if icon == "controls-back"
			content "\f518"

		if icon == "controls-skipback"
			content "\f516"

		if icon == "controls-repeat"
			content "\f515"

		if icon == "controls-volumeon"
			content "\f521"

		if icon == "controls-volumeoff"
			content "\f520"

		if icon == "yes"
			content "\f147"

		if icon == "no"
			content "\f158"

		if icon == "no-alt"
			content "\f335"

		if icon == "plus"
			content "\f132"

		if icon == "plus-alt"
			content "\f502"

		if icon == "minus"
			content "\f460"

		if icon == "dismiss"
			content "\f153"

		if icon == "marker"
			content "\f159"

		if icon == "star-filled"
			content "\f155"

		if icon == "star-half"
			content "\f459"

		if icon == "star-empty"
			content "\f154"

		if icon == "flag"
			content "\f227"

		if icon == "share"
			content "\f237"

		if icon == "share1"
			content "\f237"

		if icon == "share-alt"
			content "\f240"

		if icon == "share-alt2"
			content "\f242"

		if icon == "twitter"
			content "\f301"

		if icon == "rss"
			content "\f303"

		if icon == "email"
			content "\f465"

		if icon == "email-alt"
			content "\f466"

		if icon == "facebook"
			content "\f304"

		if icon == "facebook-alt"
			content "\f305"

		if icon == "networking"
			content "\f325"

		if icon == "googleplus"
			content "\f462"

		if icon == "location"
			content "\f230"

		if icon == "location-alt"
			content "\f231"

		if icon == "camera"
			content "\f306"

		if icon == "images-alt"
			content "\f232"

		if icon == "images-alt2"
			content "\f233"

		if icon == "video-alt"
			content "\f234"

		if icon == "video-alt2"
			content "\f235"

		if icon == "video-alt3"
			content "\f236"

		if icon == "vault"
			content "\f178"

		if icon == "shield"
			content "\f332"

		if icon == "shield-alt"
			content "\f334"

		if icon == "sos"
			content "\f468"

		if icon == "search"
			content "\f179"

		if icon == "slides"
			content "\f181"

		if icon == "analytics"
			content "\f183"

		if icon == "chart-pie"
			content "\f184"

		if icon == "chart-bar"
			content "\f185"

		if icon == "chart-line"
			content "\f238"

		if icon == "chart-area"
			content "\f239"

		if icon == "groups"
			content "\f307"

		if icon == "businessman"
			content "\f338"

		if icon == "id"
			content "\f336"

		if icon == "id-alt"
			content "\f337"

		if icon == "products"
			content "\f312"

		if icon == "awards"
			content "\f313"

		if icon == "forms"
			content "\f314"

		if icon == "testimonial"
			content "\f473"

		if icon == "portfolio"
			content "\f322"

		if icon == "book"
			content "\f330"

		if icon == "book-alt"
			content "\f331"

		if icon == "download"
			content "\f316"

		if icon == "upload"
			content "\f317"

		if icon == "backup"
			content "\f321"

		if icon == "clock"
			content "\f469"

		if icon == "lightbulb"
			content "\f339"

		if icon == "microphone"
			content "\f482"

		if icon == "desktop"
			content "\f472"

		if icon == "tablet"
			content "\f471"

		if icon == "smartphone"
			content "\f470"

		if icon == "phone"
			content "\f525"

		if icon == "smiley"
			content "\f328"

		if icon == "index-card"
			content "\f510"

		if icon == "carrot"
			content "\f511"

		if icon == "building"
			content "\f512"

		if icon == "store"
			content "\f513"

		if icon == "album"
			content "\f514"

		if icon == "palmtree"
			content "\f527"

		if icon == "tickets-alt"
			content "\f524"

		if icon == "money"
			content "\f526"
