/**
 *
 * Component: Container
 *
 * @project WP_TITLE
 * @package WP_SLUG-theme
 * @author Ralf Hortt <me@horttcore.de>
 *
 */
.container
    margin: 0 auto
    max-width: 1140px
    padding: 0 1em
    position: relative
    width: 100%
