/**
 * Header navigation
 */
.main-navigation {

    /* LVL 1 */
    > ul {
        display: inline-flex;

        > li {

            > a {

                /* Hover LVL 1 */
                &:hover {

                }
            }

            &:hover {

                > ul {
                    height: auto;
                    opacity: 1;
                    overflow: visible;
                }
            }

            /* LVL 2 */
            > ul {
                height: 0;
                opacity: 0;
                overflow: hidden;


                > li {

                    > a {
                        display: block;

                        /* Hover LVL 2 */
                        &:hover {

                        }
                    }
                }

                /* Highlight LVL 2 */
                > .current-menu-item {

                    > a {

                    }
                }
            }
        }

        /* Highlight LVL 1 */
        > .current-menu-item {

            > a {

            }
        }
    }
}
