.align {
    &left {
        float: left;
    }

    &right {
        float: right;
    }

    &wide {
        @media (min-width: 950px) {
            left: calc(50% - 50vw);
            margin-left: -125px;
            margin-right: -125px;
            max-width: 100vw;
            position: relative;
        }
    }

    &full {
        left: calc(50% - 50vw);
        position: relative;
        width: 100vw;
    }
}
