
[class*="icon-"]:before {
    background-image: url("../images/sprites/svg/sprite.png");
    background-image: url("../images/sprites/svg/sprite.svg"), none;
    background-repeat: no-repeat;
    background-size: 0em 0em;
    content:' ';
    display: inline-block;
    font-size: 10px;
    vertical-align:middle;
}



