/**
 *
 * HTML
 *
 */
html
	font-size 12px

	+above(540px)
		font-size 14px

	+above(782px)
		font-size 16px

body
	font $font--size/$font--lineheight $font--fontstack

nav

	ul
		list-style none
		margin 0
		padding 0

	li
		margin 0
		padding 0

a
	color inherit
	text-decoration none
	transition all .2s

img
	height auto
	max-width 100%


:first-child
	margin-top 0

:last-child
	margin-bottom 0
