/**
 * Custom Properties
 *
 * Defining custom properties
 * usage: `color: var(--color-primary);`
 */
:root {
    --adminbar__height: 0;
    --animation__speed: .2s;
    --animation__speed--slow: .4s;
    --radius: 0;
}
