name: Lint

on:
    push:
    pull_request:

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Set up PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "8.4"

            - name: Install Composer dependencies
              run: composer install --no-interaction --no-progress --prefer-dist

            - name: Lint PHP
              run: composer run lint

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "22"

            - name: Install Node.js dependencies
              run: npm install

            - name: Lint CSS
              run: npm run lint:css
